<div class="h-screen flex flex-col justify-center items-center" color="primary">
    <app-back-button routerLink="/landing"></app-back-button>
    <h1 class="text-lg text-center sm:text-4xl">Bienvenido al panel de control de calidad del aire</h1>
    <div>
        <div class="mx-5 flex flex-col sm:flex-row items-center">
            <div class="flex flex-col text-center">
                <h1 class="bitcount-title text-5xl sm:text-7xl">Climadata</h1>
                <p>monitorea, entiende, respira mejor.</p>
            </div>
            <form (ngSubmit)="login()" class="flex flex-col p-12 w-96">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" [(ngModel)]="email" name="email">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input class="" matInput type="password" [(ngModel)]="password" name="password">
                </mat-form-field>
                <button matFab color="primary" type="submit" extended filled>
                    <mat-icon>login</mat-icon>
                    Iniciar sesión
                </button>
                <a class="text-center mt-3" href="/login">¿Te olvidaste la contraseña?</a>
            </form>
        </div>
        <div class="flex justify-center-safe">
            <button matFab extended filled color="red" class="mr-5">
                <mat-icon>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 48 48"
                        style="margin-right: 8px;">
                        <path fill="#FFFFFF"
                            d="M44.5 20H24v8.5h11.7C34.3 33.4 29.7 36.5 24 36.5c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.1 3.8 29.3 2 24 2 12.4 2 3 11.4 3 23s9.4 21 21 21c10.5 0 21-7.6 21-21 0-1.4-.2-2.7-.5-4z" />
                    </svg></mat-icon>
                google
            </button>
            <button matFab extended filled>
                <mat-icon>facebook</mat-icon>
                facebook
            </button>
        </div>
    </div>
</div>