<!-- Sidebar escritorio -->
<aside class="aside hidden sm:block" [class.hide]="!showAside">
  <nav>
    <ul>
      <li>
        <a style="display: flex; align-items: center; margin: 16px 0 16px 0;" routerLink="/dashboard">
          <mat-icon style="margin-right: 8px;">dashboard</mat-icon> Dashboard
        </a>
      </li>
      <li>
        <a style="display: flex; align-items: center; margin-bottom: 16px;" routerLink="/panel">
          <mat-icon style="margin-right: 8px;">air</mat-icon> Panel AQ
        </a>
      </li>
      <li>
        <a routerLink="/history" style="display: flex; align-items: center; margin-bottom: 16px;">
          <mat-icon style="margin-right: 8px;">history</mat-icon> Historial
        </a>
      </li>
      <li>
        <a style="display: flex; align-items: center; margin-bottom: 16px;" href="http://localhost:3000/docs">
          <mat-icon style="margin-right: 8px;">api</mat-icon> docs
        </a>
      </li>
    </ul>
  </nav>
  <button mat-icon-button aria-label="Cerrar sidebar" (click)="toggleAside()" class="close-btn">
    <mat-icon>close</mat-icon>
  </button>
</aside>

<!-- Sidebar móvil -->
<aside class="aside_responsive_small block sm:hidden" [class.hide]="!showAside">
  <nav>
    <ul>
      <li class="flex justify-center">
        <a style="display: flex; align-items: center; margin: 16px 0 16px 0;" routerLink="/dashboard">
          <mat-icon style="margin-right: 8px;">dashboard</mat-icon>
        </a>
      </li>
      <li class="flex justify-center">
        <a style="display: flex; align-items: center; margin-bottom: 16px;" routerLink="/panel">
          <mat-icon style="margin-right: 8px;">air</mat-icon>
        </a>
      </li>
      <li class="flex justify-center" style="display: flex; align-items: center; margin-bottom: 16px;">
        <a routerLink="/history" style="display: flex; align-items: center;">
          <mat-icon style="margin-right: 8px;">history</mat-icon>
        </a>
      </li>
      <li class="flex justify-center">
        <a style="display: flex; align-items: center; margin-bottom: 16px;" href="http://localhost:3000/docs">
          <mat-icon style="margin-right: 8px;">api</mat-icon>
        </a>
      </li>
      <li class="flex justify-center">
        <a style="display: flex; align-items: center; margin-bottom: 16px;" class="px-3 py-2 rounded-xl bg-red-500"
          (click)="logout()" color="secondary"><mat-icon>logout</mat-icon></a>
      </li>
      <div class="flex justify-center absolute bottom-10">
        <a style="display: flex; align-items: center; margin-bottom: 16px;" mat-icon-button aria-label="Cerrar sidebar"
          (click)="toggleAside()">
          <mat-icon style="margin-right: 8px;">close</mat-icon>
        </a>
      </div>
      <div class="flex justify-center absolute bottom-0 left-0">
        <app-toggle-button></app-toggle-button>
      </div>
    </ul>
  </nav>
</aside>

<!-- Contenido principal -->
<main [class.expanded]="showAside">
  @if (!showAside) {
  <button mat-fab aria-label="Abrir sidebar" (click)="toggleAside()" class="open-btn">
    <mat-icon>menu</mat-icon>
  </button>
  }
  <router-outlet></router-outlet>
</main>