<router-outlet></router-outlet>
<div class="relative bottom-0 w-screen">
    <footer class="bg-gray-800 text-white p-4 mt-12">
        <div class="container mx-auto text-center">
            <p>&copy; 2025 Climadata. Todos los derechos reservados.</p>
            <p>Desarrollado por <a href="https://github.com/Danny-MNXONLINE/air-quality-dashboard"
                    class="text-blue-400 hover:underline">Danny Belloli</a></p>
            <p> <a href="https://github.com/Danny-MNXONLINE/air-quality-dashboard"
                    class="text-blue-400 hover:underline">licencia de uso</a> |
                <a href="/terms" class="text-blue-400 hover:underline">Términos de servicio</a>
            </p>
        </div>
    </footer>
</div>