<div class="home-container">
  <img class="w-screen rounded-lg h-60 sm:h-170" src="/aire.webp" alt="Ciudad saludable" />

  <div class="py-5 flex justify-center mt-12">
    <section class="about-section">
      <h2>¿Quiénes somos?</h2>
      <p>
        Somos <strong>Climadata</strong>, una empresa dedicada al monitoreo de la calidad del aire
        y el análisis ambiental en entornos urbanos. Nuestro objetivo es mejorar la calidad de vida en las ciudades
        mediante el uso de tecnología avanzada y datos en tiempo real.
      </p>
    </section>
  </div>
</div>